/* Design System */

:root {
  /* colours */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  /* typography */
  --ff: "Poppins", sans-serif;
  --fs-sm: 0.813rem; /* 13px */
  --fs-md: 0.938rem; /* 15px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-xxl: 2.25rem; /* 36px */
  --fw-extralight: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
  --lh-tight: 1.35;
  --lh-normal: 1.4;
  --lh-loose: 1.6;
  /* spacing */
  --sp-100: 0.5rem; /* 8px */
  --sp-200: 1rem; /* 16px */
  --sp-300: 1.5rem; /* 24px; */
  --sp-400: 2rem; /* 32px */
  --sp-500: 2.5rem; /* 40px */
}

/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/poppins-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins-600.woff2") format("woff2");
}

/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
  color: var(--grey-500);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Page Styles */

main {
  padding: var(--sp-400);
}

.features-overview {
  max-width: 19.75rem;
  margin-inline: auto;
  text-align: center;
}

.features-overview__title {
  font-size: var(--fs-xl);
  line-height: var(--lh-normal);
  letter-spacing: 0.0104em;
  font-weight: var(--fw-extralight);
}

.features-overview__highlight {
  display: block;
  font-weight: var(--fw-semibold);
}

.features-overview__description {
  font-size: var(--fs-md);
  line-height: var(--lh-normal);
  margin-top: var(--sp-200);
}

.cards {
  max-width: 19.625rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: var(--sp-400);
  margin-top: 3.75rem;
}

.card {
  background-color: var(--white);
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: var(--sp-100);
  padding: var(--sp-400);
  border-top: 4px solid;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.card--supervisor {
  border-color: var(--cyan);
}

.card--team-builder {
  border-color: var(--red);
}

.card--karma {
  border-color: var(--orange);
}

.card--calculator {
  border-color: var(--blue);
}

.card__title {
  font-size: var(--fs-lg);
  line-height: var(--lh-tight);
  font-weight: var(--fw-semibold);
}

.card__description {
  color: var(--grey-400);
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  line-height: var(--lh-loose);
  margin-bottom: var(--sp-400);
}

.card__icon {
  margin-left: auto;
}

/* Larger Screen Styles */

@media (min-width: 60rem) {
  .features-overview {
    max-width: 33.75rem;
  }

  .features-overview__title {
    font-size: var(--fs-xxl);
  }

  .cards {
    max-width: 69.625rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      ".......... builder .........."
      "supervisor builder calculator"
      "supervisor karma calculator"
      ".......... karma ...........";
  }

  .card--supervisor {
    grid-area: supervisor;
  }

  .card--team-builder {
    grid-area: builder;
  }

  .card--karma {
    grid-area: karma;
  }

  .card--calculator {
    grid-area: calculator;
  }
}
