/* Design System */

:root {
  /* colours */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  /* typography */
  --ff: "Poppins", sans-serif;
  --fs-sm: 0.813rem; /* 13px */
  --fs-md: 0.938rem; /* 15px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 2.25rem; /* 36px */
  --fw-extralight: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
  --lh-tight: 1.35;
  --lh-normal: 1.4;
  --lh-loose: 1.6;
  --lsp-title: 0.007em;
  /* spacing */
  --sp-100: 0.5rem; /* 8px */
  --sp-200: 1rem; /* 16px */
  --sp-300: 1.5rem; /* 24px; */
  --sp-400: 2rem; /* 32px */
  --sp-500: 2.5rem; /* 40px */
}

/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/poppins-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins-600.woff2") format("woff2");
}

/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
